body{
    background-size: cover;
}

.heading{
    width: 100%;
    font-size: 20px;
    margin:0;
    font-weight: bold;
}

.copy_right_footer{
    bottom:0;
    width: 100%;
    background-color:burlywood;
    position: fixed;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
}

canvas{
    margin-top: 60px;
    border: 10px solid white ;
    border-radius: 20px;
    box-shadow:10px 10px 10px orange;

}